@font-face {
  font-family: "RobotoRegular";
  src: url("/assets/fonts/RobotoRegular/RobotoRegular.eot");
  src: url("/assets/fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
  url("/assets/fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoLight";
  src: url("/assets/fonts/RobotoLight/RobotoLight.eot");
  src: url("/assets/fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/RobotoLight/RobotoLight.woff") format("woff"),
  url("/assets/fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoMedium";
  src: url("/assets/fonts/RobotoMedium/RobotoMedium.eot");
  src: url("/assets/fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
  url("/assets/fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoBold";
  src: url("/assets/fonts/RobotoBold/RobotoBold.eot");
  src: url("/assets/fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/RobotoBold/RobotoBold.woff") format("woff"),
  url("/assets/fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/* main */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  line-height: 1.5;
  font-size: 14px;
  min-width: 320px;
  font-family: "RobotoRegular", "Arial", "sans-serif";
}
body {
  overflow-x: hidden;
}
.hidden {
  overflow: hidden;
}
.link {
  -webkit-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;
}
.link,
.link:visited,
.link:active {
  color: #4db6e2;
}
.link:hover {
  color: #096185;
}
